h2{
    color: white;
}

#üst-navbar{
    background-color: rgb(206, 153, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
    text-align: right;
    line-height: 16px;
    padding: 10px;
}

a:link{color: orange; font-size: 22px;}
a:visited{color: gray;}
a:hover{background-color: white; cursor: hand;}
a:active{font-size: 40px;}
